# Python - Variables, Expressions & Statements

# Variables

The major purpose of variable is to store a value from one part of program so that it can be used in other part of program. It can be used to store the value of computation that is carried out during the flow of the program. A variable is a name that referes to a value.

<b> Assignment statement<b>

Assignment statement creates a new variable and store a value in it. For example,

In [1]:
message = "this is first string variable"  # a string type variable named message is created and value is stored in it
print(message)

this is first string variable

In [2]:
num = 5 # an int type variable named num is created and 5 is stored as value in int 
print("num contains ----> ", num)
print("type of num -----> ", type(num))

num contains ---->  5
type of num ----->  <class 'int'>

In [3]:
float_num = 3.5 # a variable of type float is created and value 3.5 stored in it
print("float_num contains ----->  ", float_num)

float_num = 4.5 # value of variable can be changed
print("float_num now contains ----->  ", float_num)

float_num contains ----->   3.5
float_num now contains ----->   4.5

<b>Variable Naming<b>

Choose the variable name that is meaningful and improves the readability of the program. <br>
Rules to be kept in mind while naming the variables : <br>
    - Letters, numbers and underscore are allowed
    - Can not contain spaces 
    - Can not start with number
    - It's case sensitive
    - It should not be from the reserved keyword list

In [4]:
name = "valid variable name" #valid variable name with letters

In [5]:
number1 = 12 # valid varibale name of type int

In [6]:
_name = "valid variable"  #variable name with underscore

In [7]:
# var name = "some value" #invalid variable name as it contains space in it

In [8]:
#1_name = "invalid variable"  # throws error as it starts with number

Variable names are case sensitive. Following three variable has same spelling but still contains different values in it.

In [9]:
name1 = "xyz"

In [10]:
Name1 = "por"

In [11]:
NaMe1 = "abc"

In [12]:
print("name1--->", name1)

name1---> xyz

In [13]:
print("Name1--->", Name1)

Name1---> por

In [14]:
print("NaMe1--->", NaMe1)

NaMe1---> abc

Variable name can not be a keyword.

In [15]:
#class = "my class value"    # throws erros as class is reserved word

# Statements

It is unit of code that Python interpreter executes. It can be a single statement or group of statement like statements within loops, functions etc. When interpreter hits statement, it executes the statement and displays the result (if there is any).

In [16]:
#Function call is statement
print('this is statement')

this is statement

In [17]:
#Assignment is statement but does not produce any output
x = 5

In [18]:
#Compound statment - for loop
for i in range(5):
    print("Coming inside the loop ----> " , i + 1 , " times")
    print("i is ---> ", i)

Coming inside the loop ---->  1  times
i is --->  0
Coming inside the loop ---->  2  times
i is --->  1
Coming inside the loop ---->  3  times
i is --->  2
Coming inside the loop ---->  4  times
i is --->  3
Coming inside the loop ---->  5  times
i is --->  4

# Expressions

Expressions in Python can include operations among compatible types (e.g., integers and floats). For example, basic arithmetic operations like adding multiple numbers:

In [19]:
35 + 45 + 23

103

Python follows well accepted mathematical conventions when evaluating mathematical expressions. In the following example, Python adds 3 to the result of the multiplication (i.e., 12).

In [20]:
4 * 3 + 3

15

<b>Operators and Operands<b>

These are special symbols that represents computations like addition, multiplication etc. Operand are values on which operators are applied.

In [21]:
x = 5 + 6  # + is operator applied on operands 5 & 6

In [22]:
y = x * 9.5 # * is operator applied on operands x & 9.5

In [23]:
# z = y + 'abcs'  #throws error as operands should be compatible with the operator

In [24]:
string = 'BITS' + 'Pilani' #for string + is concatenation 
string

'BITSPilani'

In [25]:
string = "BITS Pilani " * 3 #for string * is repetation
string

'BITS Pilani BITS Pilani BITS Pilani '

<b>Mathematical Operations / Expressions<b>

In [26]:
5 + 3 # addition

8

In [27]:
5 - 3 # subtraction

2

In [28]:
5 * 3 #multiplication

15

In [29]:
5 / 3 # regular division

1.6666666666666667

In [30]:
5 // 3 # modulo division, returns reminder after division

1

In [31]:
5 % 3 #integer division

2

In [32]:
5 ** 3 # exponent

125

In [33]:
num1 = 2
num2 = 3

print(num1 + num2)  
print(num1 - num2) 
print(num1 * num2) 
print(num1 / num2)
print(num1 // num2)
print(num1 % num2) 
print(num1 ** num2)

5
-1
6
0.6666666666666666
0
2
8

In [34]:
num1 = 8
num1 += 5
print(num1)
num1 -= 1
print(num1)

13
12

<b> Comparison Operations<b>

In [35]:
num1 = 4
num2 = 12
print(num1 > num2)
print(num1 < num2)
print(num1 >= num2)
print(num1 <= num2)
print(num1 == num2)
print(num1 != num2)

False
True
False
True
False
True

# Exercise

Q1. Compute the simple interest using the formula interest = p * n * r / 100 where p is principal, n is tenure of loan, and r is rate of interest. Accept p, n, r from users and then perform the interest calculation.

In [ ]:
#Try it here

Q2. Write a program that asks user weight in kilogram and converts into pounds. There are 2.2 pound in one kilogram.

In [ ]:
#Try it here

Q3. If a four digit number is entered through keyboard by user. Write a program to calculate the sum of its digits.

In [44]:
#Try it here
# a=input()
x=[float(a[val]) for val in range(0,len(a))]
print(x)
sum(x)

[1.0, 2.0, 3.0, 4.0]

10.0

# Answers

In [36]:
#Q1 Solution
p = eval(input("Enter the principal amount \n"))
n = eval(input("Enter the tenure of loan in years \n"))
r = eval(input("Enter the rate of interest in percentage \n"))

interest = (p * n * r) / 100
print("The interest for loan amount of Rs ", p , " for tenure ", n, " years ", "with interest rate ", r,  "%\n", interest)

Enter the principal amount
100
Enter the tenure of loan in years
10
Enter the rate of interest in percentage
19
The interest for loan amount of Rs  100  for tenure  10  years  with interest rate  19 %
 190.0

In [ ]:
#Q2 Solution
weight = eval(input("Enter the weight in kilogram \n"))
weight_in_pounds = weight * 2.2

print(weight, "kg = ", weight_in_pounds , " pounds ")

In [ ]:
#Q3 Solution
number = int(input("Enter a four digit number"))

sum_of_digits = 0 

digit1 = number % 10
sum_of_digits = sum_of_digits + digit1
number = int(number / 10 )

digit2 = number % 10
sum_of_digits = sum_of_digits + digit2
number = int(number / 10)

digit3 = number % 10
sum_of_digits = sum_of_digits + digit3
number = int(number / 10)

digit4 = number % 10
sum_of_digits = sum_of_digits + digit4
number = int(number / 10)

print("The sum of digits of number is  ", sum_of_digits)

In [3]:
id(2)

140716448888640

In [5]:
id(2)

140716448888640

In [6]:
help(id)

Help on built-in function id in module builtins:

id(obj, /)
    Return the identity of an object.

    This is guaranteed to be unique among simultaneously existing objects.
    (CPython uses the object's memory address.)

In [7]:
tp1={1,2,3}
tp1

{1, 2, 3}

In [8]:
id(tp1)

2207539732544

In [9]:
tp1={2,3,4}
tp1

{2, 3, 4}

In [10]:
id(tp1)

2207539732992

In [11]:
a=2500
b=2500
print(id(a), id(b))

2207539468432 2207539468272

In [14]:
a=25000
b=25000
print(id(a), id(b))

2207539468432 2207539468976

In [19]:
x="1234"
sum([int(char) for char in x])

10

In [23]:
def sm(x:int):
    print(x)
    print(x+3)
    
sm('6')

6

TypeError: can only concatenate str (not "int") to str